.search-bar {
  padding: 26px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.search-bar > input {
  width: 700px;
  padding: 16px;
  font-size: 16px;
  color: #82aae3;
  border: 2px solid #82aae3;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}

.search-bar > input::placeholder {
  font-weight: 300;
  color: #82aae3;
}

.search-bar > button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 4px;
  border-radius: 4px;
}

.search-bar > button:hover {
  background-color: #82aae3;
  > img {
    filter: brightness(0) invert(100);
  }
}

button > img {
  width: 40px;
}
